.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 1064px}
.u-section-1 .u-image-1 {width: 500px; height: 500px; margin: 20px auto 0}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin: 20px 161px 0}
.u-section-1 .u-text-2 {width: 826px; margin: 20px auto 0}
.u-section-1 .u-list-1 {min-height: 766px; grid-template-columns: repeat(3, calc(33.3333% - 20px)); grid-template-rows: repeat(1, auto); grid-gap: 30px; margin: 20px auto 60px 0}
.u-section-1 .u-container-layout-1 {padding: 30px 20px 0 0}
.u-section-1 .u-group-1 {width: 60px; min-height: 60px; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-2 {padding: 0}
.u-section-1 .u-text-3 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-2 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-3 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-4 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-5 {font-size: 1rem; margin: 27px 0 0}
.u-section-1 .u-container-layout-4 {padding: 30px 20px 0 0}
.u-section-1 .u-group-3 {width: 60px; min-height: 60px; background-size: auto; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-5 {padding: 0}
.u-section-1 .u-text-6 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-4 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-6 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-7 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-8 {font-size: 1rem; margin: 27px 0 0}
.u-section-1 .u-container-layout-7 {padding: 30px 20px 0 0}
.u-section-1 .u-group-5 {width: 60px; min-height: 60px; background-size: auto; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-8 {padding: 0}
.u-section-1 .u-text-9 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-6 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-9 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-10 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-11 {font-size: 1rem; margin: 27px 0 0}
.u-section-1 .u-container-layout-10 {padding: 30px 20px 0 0}
.u-section-1 .u-group-7 {width: 60px; min-height: 60px; background-size: auto; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-11 {padding: 0}
.u-section-1 .u-text-12 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-8 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-12 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-13 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-14 {font-size: 1rem; margin: 27px 0 0}
.u-section-1 .u-container-layout-13 {padding: 30px 20px 0 0}
.u-section-1 .u-group-9 {width: 60px; min-height: 60px; background-size: auto; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-14 {padding: 0}
.u-section-1 .u-text-15 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-10 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-15 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-16 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-17 {font-size: 1rem; margin: 27px 0 0}
.u-section-1 .u-container-layout-16 {padding: 30px 20px 0 0}
.u-section-1 .u-group-11 {width: 60px; min-height: 60px; background-size: auto; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-17 {padding: 0}
.u-section-1 .u-text-18 {font-size: 2rem; line-height: 1; font-weight: 400; font-family: Ubuntu, sans-serif; margin: 0 14px 0 auto}
.u-section-1 .u-group-12 {min-height: 338px; animation-duration: 1000ms; width: 248px; margin: -60px 0 0 auto}
.u-section-1 .u-container-layout-18 {padding: 15px 0 30px 10px}
.u-section-1 .u-text-19 {font-size: 1.875rem; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; margin: 0 auto 0 0}
.u-section-1 .u-text-20 {font-size: 1rem; margin: 27px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 930px}
.u-section-1 .u-text-1 {margin-left: 61px; margin-right: 61px}
.u-section-1 .u-list-1 {min-height: 632px; height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-2 {min-height: 362px; width: 193px}
.u-section-1 .u-group-4 {min-height: 362px; width: 193px}
.u-section-1 .u-group-6 {min-height: 362px; width: 193px}
.u-section-1 .u-group-8 {min-height: 362px; width: 193px}
.u-section-1 .u-group-10 {min-height: 362px; width: 193px}
.u-section-1 .u-group-12 {min-height: 362px; width: 193px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1387px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {width: 720px}
.u-section-1 .u-list-1 {min-height: 1089px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 345px)); margin-right: initial; margin-left: initial}
.u-section-1 .u-group-2 {min-height: 312px; width: 251px}
.u-section-1 .u-group-4 {min-height: 312px; width: 251px}
.u-section-1 .u-group-6 {min-height: 312px; width: 251px}
.u-section-1 .u-group-8 {min-height: 312px; width: 251px}
.u-section-1 .u-group-10 {min-height: 312px; width: 251px}
.u-section-1 .u-group-12 {min-height: 312px; width: 251px} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {width: 540px}
.u-section-1 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-right: 10px}
.u-section-1 .u-group-2 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-3 {padding-bottom: 20px}
.u-section-1 .u-container-layout-4 {padding-right: 10px}
.u-section-1 .u-group-4 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-6 {padding-bottom: 20px}
.u-section-1 .u-container-layout-7 {padding-right: 10px}
.u-section-1 .u-group-6 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-9 {padding-bottom: 20px}
.u-section-1 .u-container-layout-10 {padding-right: 10px}
.u-section-1 .u-group-8 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-12 {padding-bottom: 20px}
.u-section-1 .u-container-layout-13 {padding-right: 10px}
.u-section-1 .u-group-10 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-15 {padding-bottom: 20px}
.u-section-1 .u-container-layout-16 {padding-right: 10px}
.u-section-1 .u-group-12 {min-height: 224px; width: 443px}
.u-section-1 .u-container-layout-18 {padding-bottom: 20px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 340px; height: 340px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-text-2 {width: 340px}
.u-section-1 .u-list-1 {margin-top: 136px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-2 {min-height: 302px; width: 265px}
.u-section-1 .u-text-4 {margin-right: 0}
.u-section-1 .u-group-4 {min-height: 302px; width: 265px}
.u-section-1 .u-text-7 {margin-right: 0}
.u-section-1 .u-group-6 {min-height: 302px; width: 265px}
.u-section-1 .u-text-10 {margin-right: 0}
.u-section-1 .u-group-8 {min-height: 302px; width: 265px}
.u-section-1 .u-text-13 {margin-right: 0}
.u-section-1 .u-group-10 {min-height: 302px; width: 265px}
.u-section-1 .u-text-16 {margin-right: 0}
.u-section-1 .u-group-12 {min-height: 302px; width: 265px}
.u-section-1 .u-text-19 {margin-right: 0} }.u-section-2 .u-sheet-1 {min-height: 250px}
.u-section-2 .u-shape-1 {height: 175px; margin: 38px 0 0}
.u-section-2 .u-layout-wrap-1 {width: 1084px; margin: -160px auto 25px 28px}
.u-section-2 .u-layout-cell-1 {min-height: 125px}
.u-section-2 .u-container-layout-1 {padding: 20px 60px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 125px}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-btn-1 {margin: 0 auto} 

@media (max-width: 1199px){ .u-section-2 .u-shape-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 894px; margin-left: 23px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-btn-1 {margin-left: -1px; margin-right: -1px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 685px; margin-left: 18px; margin-right: 18px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-btn-1 {margin-left: auto; margin-right: auto} }

@media (max-width: 767px){ .u-section-2 .u-shape-1 {height: 260px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 513px; margin-top: -245px; margin-right: auto; margin-left: 13px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-shape-1 {height: 319px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 323px; margin-top: -294px; margin-left: 8px} }