.u-section-1 .u-sheet-1 {min-height: 617px}
.u-section-1 .u-image-1 {width: 820px; height: 285px; margin: 54px auto 0}
.u-section-1 .u-group-1 {width: 784px; min-height: 238px; margin: 20px auto 20px 178px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-1 {margin: 25px 20px 0}
.u-section-1 .u-text-2 {font-weight: 600; font-style: italic; margin: 20px 20px 25px} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {margin-left: 78px}
.u-section-1 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px; font-size: 4.5rem}
.u-section-1 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 592px}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-1 {width: 680px; min-height: 204px; margin-top: 9px; margin-left: auto; margin-bottom: 40px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-left: 13px; margin-right: 13px}
.u-section-1 .u-text-2 {margin-left: 13px; margin-right: 13px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 557px}
.u-section-1 .u-image-1 {height: 254px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 215px; margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {font-size: 3rem; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-2 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 462px}
.u-section-1 .u-image-1 {height: 181px; margin-top: 33px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 209px; margin-bottom: 40px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 1.875rem; margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-2 {margin-left: 6px; margin-right: 6px} }.u-section-2 .u-image-1 {width: 846px; height: 437px; object-position: 0% 0%; background-position: 0% 0%; margin: 94px 0 0 auto}
.u-section-2 .u-sheet-1 {min-height: 637px; margin: -570px auto 0}
.u-section-2 .u-group-1 {width: 413px; min-height: 490px; margin: 70px auto 65px 0}
.u-section-2 .u-container-layout-1 {padding-left: 12px}
.u-section-2 .u-text-1 {text-transform: none; margin: 45px 20px 0 0}
.u-section-2 .u-text-2 {font-style: italic; margin: 40px 60px 0 0}
.u-section-2 .u-btn-1 {background-image: none; margin: 40px auto 50px 0} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {width: calc(((100% - 940px) / 2) + 610px); height: 433px; margin-top: 93px}
.u-section-2 .u-group-1 {width: 341px}
.u-section-2 .u-text-1 {position: relative; margin-top: 39px; margin-right: 21px}
.u-section-2 .u-text-2 {position: relative; margin-right: 21px}
.u-section-2 .u-btn-1 {margin-top: 45px; margin-bottom: 39px} }

@media (max-width: 991px){ .u-section-2 .u-image-1 {width: calc(((100% - 720px) / 2) + 537px); height: 459px; margin-top: 100px}
.u-section-2 .u-sheet-1 {min-height: 714px}
.u-section-2 .u-group-1 {width: 278px; min-height: 590px}
.u-section-2 .u-text-1 {margin-top: 46px}
.u-section-2 .u-btn-1 {margin-top: 40px; margin-bottom: 46px} }

@media (max-width: 767px){ .u-section-2 .u-image-1 {width: calc(((100% - 540px) / 2) + 540px); height: 356px; margin-top: 76px}
.u-section-2 .u-sheet-1 {min-height: 892px; margin-top: -444px}
.u-section-2 .u-group-1 {min-height: 430px; margin-top: 444px; margin-bottom: 30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {position: relative; margin-top: 45px; margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-2 {position: relative; margin-top: 50px; margin-right: 55px; margin-left: 9px}
.u-section-2 .u-btn-1 {margin-right: 55px; margin-bottom: 45px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {width: calc(((100% - 340px) / 2) + 341px); height: 244px}
.u-section-2 .u-sheet-1 {min-height: 898px; margin-top: -410px}
.u-section-2 .u-text-1 {margin-top: 50px; margin-right: 6px; margin-left: 0}
.u-section-2 .u-text-2 {margin-top: 33px; margin-right: 12px; margin-left: 0}
.u-section-2 .u-btn-1 {margin-top: 33px; margin-right: auto; margin-bottom: 50px} }.u-section-3 .u-image-1 {width: calc(((100% - 1140px) / 2) + 710px); height: 636px; object-position: 100% 0%; background-position: 100% 0%; margin: 0 auto 0 0}
.u-section-3 .u-sheet-1 {min-height: 737px; margin: -635px auto 0}
.u-section-3 .u-group-1 {width: 413px; min-height: 491px; margin: 123px 0 123px auto}
.u-section-3 .u-container-layout-1 {padding-left: 12px}
.u-section-3 .u-text-1 {text-transform: none; margin: 45px 20px 0 0}
.u-section-3 .u-text-2 {font-style: italic; margin: 40px 20px 0 0}
.u-section-3 .u-btn-1 {background-image: none; margin: 45px auto 21px 0} 

@media (max-width: 1199px){ .u-section-3 .u-image-1 {width: calc(((100% - 940px) / 2) + 633px); height: 449px; margin-top: 105px}
.u-section-3 .u-sheet-1 {min-height: 644px; margin-top: -707px}
.u-section-3 .u-group-1 {width: 341px; min-height: 551px; margin-top: 201px; margin-bottom: 45px}
.u-section-3 .u-text-1 {position: relative; margin-right: 32px}
.u-section-3 .u-text-2 {margin-right: 32px; position: relative}
.u-section-3 .u-btn-1 {margin-top: 47px; margin-bottom: 45px} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {width: calc(((100% - 720px) / 2) + 457px); height: 416px}
.u-section-3 .u-sheet-1 {min-height: 659px; margin-top: -675px}
.u-section-3 .u-group-1 {width: 318px; min-height: 564px; margin-bottom: 48px}
.u-section-3 .u-text-1 {margin-right: 26px}
.u-section-3 .u-text-2 {margin-right: 26px}
.u-section-3 .u-btn-1 {margin-top: 45px; margin-bottom: 34px} }

@media (max-width: 767px){ .u-section-3 .u-image-1 {width: calc(((100% - 540px) / 2) + 540px); height: 436px; margin-top: 40px}
.u-section-3 .u-sheet-1 {min-height: 50vw; margin-top: -629px}
.u-section-3 .u-group-1 {min-height: 392px; margin-top: 633px; margin-bottom: 88px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-text-1 {margin-right: 18px}
.u-section-3 .u-text-2 {margin-top: 50px; margin-right: 64px}
.u-section-3 .u-btn-1 {margin-top: 40px; margin-bottom: 0} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {width: calc(((100% - 340px) / 2) + 340px); height: 287px; margin-top: 30px}
.u-section-3 .u-sheet-1 {min-height: 938px; margin-top: -470px}
.u-section-3 .u-group-1 {min-height: 544px; margin-top: 492px; margin-bottom: 55px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {margin-top: 55px; margin-right: 6px}
.u-section-3 .u-text-2 {margin-top: 40px; margin-right: 6px}
.u-section-3 .u-btn-1 {margin-top: 44px; margin-bottom: 55px} }.u-section-4 {background-image: none}
.u-section-4 .u-image-1 {width: calc(((100% - 1140px) / 2) + 727px); height: 572px; object-position: 100% 100%; background-position: 100% 100%; margin: 0 auto 0 0}
.u-section-4 .u-sheet-1 {min-height: 668px; margin: -571px auto 0}
.u-section-4 .u-group-1 {width: 413px; min-height: 360px; margin: 152px 0 0 auto}
.u-section-4 .u-image-2 {width: 173px; height: 186px; margin: -39px auto 0 -49px}
.u-section-4 .u-text-1 {text-transform: none; margin: -107px 20px 0}
.u-section-4 .u-text-2 {font-style: italic; margin: 50px 20px 50px 60px}
.u-section-4 .u-btn-1 {margin-left: 60px; margin-right: 60px; background-image: linear-gradient(to right, #b9c1cc, #f1c50e)}
.u-section-4 .u-image-3 {width: 80px; height: 65px; margin: 11px auto 60px 0} 

@media (max-width: 1199px){ .u-section-4 .u-image-1 {width: calc(((100% - 940px) / 2) + 610px); height: 433px; margin-top: 86px}
.u-section-4 .u-group-1 {width: 341px}
.u-section-4 .u-image-2 {width: 143px; margin-left: -40px}
.u-section-4 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative}
.u-section-4 .u-text-2 {margin-right: 16px; margin-left: 49px; position: relative}
.u-section-4 .u-btn-1 {margin-left: 49px; margin-right: 49px; position: relative} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {width: calc(((100% - 720px) / 2) + 433px)}
.u-section-4 .u-sheet-1 {min-height: 656px}
.u-section-4 .u-group-1 {width: 318px; min-height: 560px}
.u-section-4 .u-image-2 {width: 109px; margin-left: -31px}
.u-section-4 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-4 .u-text-2 {margin-right: 13px; margin-bottom: 0; margin-left: 38px}
.u-section-4 .u-btn-1 {margin: 50px auto 55px 38px}
.u-section-4 .u-image-3 {width: 51px; margin-bottom: 81px} }

@media (max-width: 767px){ .u-section-4 .u-image-1 {width: calc(((100% - 540px) / 2) + 540px)}
.u-section-4 .u-sheet-1 {min-height: 973px}
.u-section-4 .u-group-1 {min-height: 392px; margin-top: 567px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-2 {width: 102px; margin-left: -23px}
.u-section-4 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-4 .u-text-2 {margin-right: 9px; margin-left: 55px}
.u-section-4 .u-btn-1 {margin-top: 40px; margin-bottom: 0; margin-left: 55px}
.u-section-4 .u-image-3 {width: 55px; height: 70px; margin-top: -488px; margin-bottom: 475px} }

@media (max-width: 575px){ .u-section-4 .u-image-1 {width: calc(((100% - 340px) / 2) + 341px); height: 287px; margin-top: 50px}
.u-section-4 .u-sheet-1 {min-height: 957px; margin-top: -380px}
.u-section-4 .u-group-1 {min-height: 474px; margin-top: 477px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-2 {width: 86px; margin-top: 1px; margin-left: -15px}
.u-section-4 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-4 .u-text-2 {margin-top: 27px; margin-right: 6px; margin-left: 29px}
.u-section-4 .u-btn-1 {margin-bottom: 1px; margin-left: 29px}
.u-section-4 .u-image-3 {height: 68px; margin-top: -571px; margin-bottom: 553px} }.u-section-5 {min-height: 948px}
.u-section-5 .u-group-1 {width: 744px; min-height: 182px; margin: 65px auto 0 calc(((100% - 1140px) / 2) + 61px)}
.u-section-5 .u-image-1 {width: 111px; height: 137px; margin-top: -30px; margin-right: auto; margin-bottom: initial; margin-left: -46px}
.u-section-5 .u-text-1 {margin: -78px 20px 0}
.u-section-5 .u-text-2 {margin: 20px 20px 15px}
.u-section-5 .u-layout-wrap-1 {margin: 37px auto 0 0}
.u-section-5 .u-image-2 {background-image: url("images/7f50debe363c62b7fbfdff6b6dcc43e6.jpeg"); min-height: 333px; background-position: 50% 50%}
.u-section-5 .u-image-3 {background-image: url("images/265542d4ba96430d476cfd3f1a6f87c6.jpeg"); min-height: 333px; background-position: 50% 50%}
.u-section-5 .u-image-4 {background-image: url("images/f4037380a67effa83ef1cb387aee2df1.jpeg"); background-position: 50% 50%; min-height: 333px}
.u-section-5 .u-image-5 {background-image: url("images/df46dc6eadb93b85a9ebbf052af68f9f.jpeg"); background-position: 50% 50%; min-height: 333px}
.u-section-5 .u-image-6 {background-image: url("images/5d64b51bdeb8ba43b5c7af02fcfac821.jpeg"); min-height: 333px; background-position: 50% 50%}
.u-section-5 .u-image-7 {min-height: 333px; background-image: url("images/88b3a82b7de48ceb91f027e38aafcbaa.jpeg"); background-position: 50% 50%}
.u-section-5 .u-image-8 {min-height: 333px; background-image: url("images/1867b26d0396e71e1c72e8fb5cfc7b0a.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-5 {min-height: 950px}
.u-section-5 .u-group-1 {width: 847px; margin-right: calc(((100% - 940px) / 2) + 43px); margin-left: auto}
.u-section-5 .u-image-1 {width: 92px; margin-left: -38px}
.u-section-5 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 {min-height: 1641px}
.u-section-5 .u-group-1 {width: 681px; min-height: 207px; margin-right: calc(((100% - 720px) / 2))}
.u-section-5 .u-image-1 {width: 123px; margin-bottom: 0}
.u-section-5 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-image-2 {min-height: 211px}
.u-section-5 .u-image-3 {min-height: 211px}
.u-section-5 .u-image-4 {min-height: 211px} }

@media (max-width: 767px){ .u-section-5 .u-group-1 {width: 441px; margin-left: calc(((100% - 540px) / 2) + 36px)}
.u-section-5 .u-image-1 {width: 66px; margin-left: -22px}
.u-section-5 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-image-2 {min-height: 475px}
.u-section-5 .u-image-3 {min-height: 475px}
.u-section-5 .u-image-4 {min-height: 475px} }

@media (max-width: 575px){ .u-section-5 .u-group-1 {width: 340px; min-height: 300px; margin-top: 73px; margin-left: auto; margin-right: auto}
.u-section-5 .u-image-1 {width: 102px; margin-left: -14px}
.u-section-5 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-layout-wrap-1 {margin-top: 29px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {min-height: 333px}
.u-section-5 .u-image-3 {min-height: 333px}
.u-section-5 .u-image-4 {min-height: 333px} }